@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FreeJob.Shared

@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Job Offers</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>IsActive</th>
                <th>JobId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.Name</td>
                    <td>@job.Description</td>
                    <td>@job.Price</td>
                    <td>@job.IsActive</td>
                    <td>@job.JobId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Job[]? jobs;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            jobs = await Http.GetFromJsonAsync<Job[]>("JobOffers");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
